<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.MenuitemDao">
	<resultMap id="BaseResultMap" type="org.spring.springboot.domain.Menuitem">
		<result column="mid" property="mid" />
		<result column="pid" property="pid" />
		<result column="name" property="name" />
		<result column="icon" property="icon" />
		<result column="isParent" property="isParent" />
	</resultMap>

	<parameterMap id="menuitem" type="org.spring.springboot.domain.Menuitem"/>

	<sql id="Base_Column_List">
		mid, pid, name,icon,isParent
	</sql>

	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from menuitem
	</select>

</mapper>
